## 1. Import Modules, Load Data and Data Review

In [1]:
import pandas as pd      
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("auto_scout_final.csv", index_col=0)

## Pipeline

In [279]:
X = df.drop(columns = ["price"])
y = df["price"]

In [280]:
cat = X.select_dtypes("object").columns
cat = list(cat)
cat

['make_model', 'Gearing_Type']

In [281]:
X.head(1)

  make_model  hp_kW        km   age Gearing_Type  Gears
0    Audi A1 66.000 56013.000 3.000    Automatic  7.000

In [282]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

column_trans = make_column_transformer((OneHotEncoder(handle_unknown="ignore", sparse=False), cat), 
                                       remainder=MinMaxScaler())

In [283]:
from sklearn.linear_model import Lasso
from sklearn.pipeline import Pipeline

operations = [("OneHotEncoder", column_trans), ("Lasso", Lasso(alpha = 0.044))]

pipe_model = Pipeline(steps=operations)

In [285]:
final_model = pipe_model.fit(X, y)

In [6]:
import pickle

In [286]:
pickle.dump(final_model, open("final_model_auto_scout", "wb"))

### Prediction

In [3]:
my_dict = {
    "hp_kW": 66,
    "age": 2,
    "km": 17000,
    "Gears": 7,
    "make_model": 'Audi A3',
    "Gearing_Type": "Automatic"
    
}

In [4]:
new_obs = pd.DataFrame([my_dict])
new_obs

   hp_kW  age     km  Gears make_model Gearing_Type
0     66    2  17000      7    Audi A3    Automatic

In [263]:
pipe_model.predict(new_obs)

array([19532.17589071])

In [7]:
final_model = pickle.load(open("final_model_auto_scout", "rb"))

In [8]:
final_model.predict(new_obs)

array([19532.17589071])

In [10]:
df.describe()

              hp_kW             km           age         price        Gears
count  15495.000000   15495.000000  15495.000000  15495.000000  15495.00000
mean      87.039948   32815.293503      1.417877  17578.363666      5.92759
std       24.574647   37176.845217      1.118950   6764.254310      0.70481
min       40.000000       0.000000      0.000000   4950.000000      5.00000
25%       66.000000    3000.000000      0.000000  12600.000000      5.00000
50%       85.000000   21216.000000      1.000000  16690.000000      6.00000
75%      100.000000   48000.000000      2.000000  21500.000000      6.00000
max      239.000000  317000.000000      3.000000  50950.000000      8.00000